<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <form action="{{ url_for('index') }}"  method="POST">
      <input type="text" class="username" placeholder="User Name"/>
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit" value="Submit"/>
    </form>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type="text/javascript">
      var socket = io.connect('http://ec2-52-24-158-251.us-west-2.compute.amazonaws.com:5000/');
      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      socket.on( 'my response', function( msg ) {
        console.log( msg )
        if( typeof msg.user_name !== 'undefined' ) {
          $( 'h3' ).remove()
          $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.user_name+'</b> '+msg.message+'</div>' )
	}
      })
    </script>
    <div id="map"></div>
    <script>
      var map;
      function initMap() {

        var client_cur = {lat: {{client1.cur_lat}}, lng: {{client1.cur_long}}};
	var client_rec = {lat: {{client1.rec_lat}}, lng: {{client1.rec_long}}};

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40.7128, lng: -74.0060},
          zoom: 13
        });

	var marker = new google.maps.Marker({position: client_cur, map: map,
            icon: {
                url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
            }});
	var marker = new google.maps.Marker({position: client_rec, map: map, 
	    icon: {
      		url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png"
    	    }});
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{googleapi}}&callback=initMap"
    async defer></script>

  </body>
</html>
