<!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>

    <form action="{{ url_for('index') }}"  method="POST">
      <input type="text" class="message" placeholder="Messages"/>
      <input type="submit" value="Submit"/>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script type='text/javascript' > 
        var client_cur = {}; 
    </script>
    <script type="text/javascript">
      var socket = io.connect('http://ec2-52-33-70-151.us-west-2.compute.amazonaws.com:5000/');
      socket.on( 'connect', function() {
        socket.emit( 'my event', {
          data: 'User Connected'
        } )
        var form = $( 'form' ).on( 'submit', function( e ) {
          e.preventDefault()
          let user_name = $( 'input.username' ).val()
          let user_input = $( 'input.message' ).val()
          socket.emit( 'my event', {
            user_name : user_name,
            message : user_input
          } )
          $( 'input.message' ).val( '' ).focus()
        } )
      } )
      socket.on( 'my response', function( msg ) {
      console.log(msg.lat)
      console.log(msg.long)
//        if( typeof msg.lat !== 'undefined' ) {
 //         $( 'h3' ).remove()
 //         $( 'div.message_holder' ).append( '<div><b style="color: #000">'+msg.long+'</b> '+msg.lat+'</div>' )
	  client_cur = {lat: msg.lat, lng: msg.long};
	  clearMarkers()
          addMarker(client_cur)
//	}
      })
    </script>
    <div id="map"></div>
    <script>
      var map;
      var markers = [];
      function initMap() {


        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 40.7128, lng: -74.0060},
          zoom: 13
        });
	//console.log("!!!!"+client_cur.lat)
	//var marker = new google.maps.Marker({position: client_cur, map: map,
          //  icon: {
            //    url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
           // }});

      var locations = [
        {lat: -31.563910, lng: 147.154312},
        {lat: -33.718234, lng: 150.363181},
        {lat: -33.727111, lng: 150.371124},
        {lat: -33.848588, lng: 151.209834},
        {lat: -33.851702, lng: 151.216968}]

        var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
          });
        });

        var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});

      var locations = [
        {lat: -31.563910, lng: 147.154312},
        {lat: -33.718234, lng: 150.363181},
        {lat: -33.727111, lng: 150.371124},
        {lat: -33.848588, lng: 151.209834},
        {lat: -33.851702, lng: 151.216968}]


      }
      function addMarker(client_cur) {
       var marker = new google.maps.Marker({position: client_cur, map: map,
            icon: {
                url: "http://maps.google.com/mapfiles/ms/icons/red-dot.png"
            }});
        marker.setMap(map);
        markers.push(marker);
      } 
      function setMapOnAll(map) {
        for (var i = 0; i < markers.length; i++) {
          markers[i].setMap(map);
        }
      }
      function clearMarkers() {
        setMapOnAll(null);
      }
    </script>
    <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{googleapi}}&callback=initMap"
    async defer></script>

  </body>
</html>
